<%= form_with model: [target, target.comments.build] do |form| %>
  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content, require: true %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
