<h1><%= t("html_text.headlines.edit") %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t("links.show"), @book %> |
  <%= link_to t("links.back"), books_path %>
</nav>
